<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is a homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sint
      optio maxime blanditiis labore, enim animi eligendi officiis provident
      autem!
    </p>
    <button>Click Me!!</button>
  </body>
</html>
